#card {
    
    margin-left: auto;
    margin-right: auto;
}

#thumbnail {
    width: 80px;
}

#details {
    color: greenyellow;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#details:hover {
    color: red;
    border: 1px solid red;
    cursor: pointer;
}

.cahgne-list-btn{
    margin: 15px;
    padding: 8px 16px;
  }
  
  .list-with-scroll {
    display: flex;
    margin: 5px;
  }
  
  .list{
    flex-grow: 1;
    display: flex;
    overflow-x: scroll;
  }
  
  .list::-webkit-scrollbar{
    display: none;
  }
  
  .item{
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    margin: 10px;
    border-radius: 5px;
  }
  
  .scroll-button {
    min-width: 50px;
    font-size: 28px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
  }

  .scroll-button:hover {
    color: red;
  }
  
  .disable,
  .disable:hover {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    border: none;
  }
  
  #scroll-left{
    order: -1; /* To pevent ExpressionChangedAfterItHasBeenCheckedError */
  }
  
  #icons {
    margin-left: 50px;
    margin-right: 50px;
  }

  #dayNight {
    margin-top: -10px;
    font-size: 10px;
  }

  .rotate {
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 1000px) {

    #icons {
      margin-right: 30px;
      margin-left: 0px !important
    }

    #thumbnail {
        width: 50px;
    }

    #day {
        font-size: 9px;
        margin-top: 10px;
    }

    #details {
      margin-top: -10px !important;
      margin-bottom: -10px !important;
    }

    /* #card {
        width: 50%;
    } */
}
