<div id="card" class="mt-3">
    <h4 class="mb-3">{{newDate}}</h4>
    <div class="row">
        <div class="col-2 mt-3" style="color: white">
            <p>{{convertDayToPL(day)}}</p>
        </div>
        <div class="col-4">
            <img id="thumbnail" [src]="getIcon(icon)" alt="{{description}}">
            <img id="thumbnail" [src]="getIcon(nightIcon)" alt="{{description}}">
            <div><p id="dayNight">Dzień / Noc</p></div>
        </div>
        <div class="col-2 mt-3">
            <p>{{tempMax | number:'1.0-0'}}°C / {{tempMin | number:'1.0-0'}}°C</p>
        </div>
        <div class="col-4">
            <span style="display: inline-block;">
                <p>{{description}}</p>
                <p>{{maxPressure}}hPa</p>
            </span>
        </div>
    </div>

</div>

<p id="details" *ngIf="!moreDetails" class="mt-3" (click)="toggleDetails()">Więcej szczegółów</p>

<div *ngIf="moreDetails && innerWidth >= 900">
    <div *ngFor='let number of range' class="mt-4 mb-5" style="display: inline-block; color: white;">
        <div *ngIf="(weatherDataForecast?.list[number]?.dt * 1000 | date:'dd/MM') === newDate" id="icons" class="ml-3 mr-3">
            <p>{{weatherDataForecast?.list[number]?.dt * 1000 | date:'dd/MM HH:mm'}}</p>
            <img [src]="getIcon(weatherDataForecast?.list[number]?.weather[0]?.icon)" alt="{{weatherDataForecast?.list[number]?.weather[0]?.description}}">
            <p>{{weatherDataForecast?.list[number]?.main?.temp | number:'1.0-0'}}°C</p>
        </div>
    </div> 
</div>

<section *ngIf="moreDetails && innerWidth < 900" class="list-with-scroll">
    <div class="list mt-4" appScrollable #list="appScrollable" [scrollUnit]="150">
        <div *ngFor='let number of range' class="mt-4 mb-5" style="display: inline-block; color: white;">
            <div *ngIf="(weatherDataForecast?.list[number]?.dt * 1000 | date:'dd/MM') === newDate" class="ml-3 mr-3">
                <p>{{weatherDataForecast?.list[number]?.dt * 1000 | date:'dd/MM HH:mm'}}</p>
                <img [src]="getIcon(weatherDataForecast?.list[number]?.weather[0]?.icon)" alt="{{weatherDataForecast?.list[number]?.weather[0]?.description}}">
                <p>{{weatherDataForecast?.list[number]?.main?.temp | number:'1.0-0'}}°C</p>
            </div>
        </div> 
    </div>

    <button class="scroll-button mt-4" [class.disable]="!list.canScrollStart" (click)="list.scroll(-1)" id="scroll-left">&#8678;</button>

    <button class="scroll-button mt-4" [class.disable]="!list.canScrollEnd" (click)="list.scroll(1)">&#8680;</button>
</section>

<p id="details" *ngIf="moreDetails" (click)="toggleDetails()">Mniej szczegółów</p>
