<div class="row" style="margin-left: 10px; margin-right: 10px;">
    <form
    [formGroup]="weatherSearchForm"
    (ngSubmit)="addNewCity()"
    class="col-12 col-lg-5"
    style="margin-top: auto; margin-bottom: auto;">
        <p>Wpisz nazwę miasta, które chcesz dodać do listy</p>
        <button type="submit" class="btn btn-small" [disabled]="!weatherSearchForm?.valid">
            <i class="fa fa-plus mb-1"></i>
        </button>
        <input type="text" class="mt-2" id="addCityInput" formControlName="location" placeholder="Wpisz miasto">
        <p id="error" *ngIf="limit">Wykorzystano limit lokalizacji. Jeśli chcesz dodać nową lokalizację, usuń którąś z obecnych</p>
        <div class="text-left" *ngIf="weatherSearchForm?.touched && !weatherSearchForm?.valid">
            <p id="formError" *ngIf="validateControl('location') && hasError('location', 'required')">Należy wpisać nazwę miasta</p>
            <p id="formError" *ngIf="validateControl('location') && hasError('location', 'pattern')">Dozwolone tylko litery</p>
        </div>
    </form>
    <div class="col-12 col-lg-6" *ngIf="!deleted">
        <span *ngIf="city1 !== undefined && city1 !== null">
            <app-more-cities-card [city]="city1" [cookie]="'City1'" class="card"></app-more-cities-card>
        </span>
        <span *ngIf="city2 !== undefined && city2 !== null">
            <app-more-cities-card [city]="city2" [cookie]="'City2'" class="card"></app-more-cities-card>
        </span>
        <span *ngIf="city3 !== undefined && city3 !== null">
            <app-more-cities-card [city]="city3" [cookie]="'City3'" class="card"></app-more-cities-card>
        </span>
        <span *ngIf="city4 !== undefined && city4 !== null">
            <app-more-cities-card [city]="city4" [cookie]="'City4'" class="card"></app-more-cities-card>
        </span>
        <span *ngIf="city5 !== undefined && city5 !== null">
            <app-more-cities-card [city]="city5" [cookie]="'City5'" class="card"></app-more-cities-card>
        </span>
        <span class="text-center" *ngIf="city1 === null">
            <p class="mt-3">Dodaj lokalizację aby wyświetlała się na podręcznej liście</p>
        </span>
    </div>
    <div *ngIf="city1 !== undefined && city1 !== null && innerWidth > 768" class="col-1" style="margin-top: auto; margin-bottom: auto;">
        <i class="fa fa-trash" (click)="removeAllLocations()"></i>
    </div>
</div>
<div *ngIf="city1 !== undefined && city1 !== null && innerWidth < 768" class="text-center mt-3r">
    <i class="fa fa-trash" (click)="removeAllLocations()"></i>
</div>




