#currentIcon {
    width: 185px;
}

.card {
    background-color: rgb(156, 156, 156) !important;
    padding-top: 10px;
    padding-bottom: 20px;
}

img {
    width: 100%;
}

#hooo {
    padding: 20px;
    background: url('/assets/pexels-pixabay-209831.jpg');
    }

#meme {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#hourly {
    display: flex;
    overflow-x: scroll !important;
    white-space:nowrap;
}

.floating-btn
{
    background: #009879;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 500px;
    bottom: 100px;
    width: 80px;
    border-radius: 8px;
    border: 1px solid white;
    transition: ease-in;
    padding: 10px;
    opacity: 0.8;
}

.floating-btn:hover {
    cursor: pointer !important;
    opacity: 1 !important;
}

.more-cities
{
    background: black;
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    display: flex;
    position: absolute;
    color: white;
    margin-top: -10px;
    right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px;
    opacity: 0.4;
    z-index: 99;
}

.more-cities:hover {
    cursor: pointer;
    opacity: 0.8;
}

#refresh {
    width: 30px;
    margin-bottom: 5px;
}

#refresh:hover {
    cursor: pointer;
}

#current {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    margin-top: 30px;
    margin-left: -20px;
}

#label {
    margin-bottom: 5px;
}

#form {
    margin-bottom: -10px;
}

@media screen and (max-width: 1000px) {

    #current {
        width: 100%;
    }

    #timer {
        margin-left: 20px;
    }

    #form {
        margin-left: 20px;
        margin-top: 10px !important;
    }

    #meme {
        width: 350px;
    }

    iframe {
        width: 350px !important;
    }

    button {
        font-size: 9px;
    }

    #buttons {
        margin-top: 20px !important;
    }    

    #refresh {
        width: 20px;
    }

    h3 {
        font-size: 18px;
    }

    input {
        font-size: 10px;
    }

    #gif {
        max-height: 150px !important;
    }
}

input {
    background-color: grey;
    color: white;
}

input:focus {
    background-color: grey;
    color: white;
}

input::placeholder {
    color: white;
}

#gif {
    max-height: 200px;
    overflow: hidden;
    border: 1px solid white;
}