/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

h3 {
    color: white;
}

p {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }

    @media screen and (max-width: 1000px) {

        p {
            font-size: 10px;
        }
    }

    input[type=text] {
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;     
    }
    
    [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
    }