#currentIcon {
    width: 150px;
}

@media screen and (max-width: 1000px) {

    #currentIcon {
        width: 100px;
    }

    #details {
        margin-left: 0px !important;
        margin-top: 20px !important;
    }

    #iconAndTemp {
        margin-left: 7% !important;
    }

    button {
        font-size: 9px;
    }
}

#details {
    margin-left: 25%;
    margin-top: 50px;
}

#gif {
    width: 100%;
}