#currentIcon {
    width: 185px;
}

@media screen and (max-width: 1000px) {

    #currentIcon {
        width: 100px;
    }

    #details {
        margin-left: 0px !important;
    }

    #iconAndTemp {
        margin-left: 20% !important;
    }
}

#details {
    margin-left: 25%;
}

#gif {
    width: 100%;
}