<div *ngIf="weatherData !== undefined">
    <div class="row">
        <div id="iconAndTemp" class="col-4 text-left">
            <img id="currentIcon" [src]="getIcon(weatherData.weather[0].icon)" alt="{{weatherData.weather[0].description}}">
            <p>Temp: {{weatherData.main.temp | number:'1.0-0'}}°C</p>
            <p>Temp odczuwalna: {{weatherData.main.feels_like | number:'1.0-0'}}°C</p>
        </div>
        <div id="details" class="col-5 mt-5 text-left">
            <p><i class="fa fa-file mr-1"></i>Opis: {{weatherData.weather[0].description}}</p>
            <p><i class="fa fa-wind mr-1"></i>Wiatr: {{weatherData.wind.speed * 3.6 | number:'1.0-1'}} km/h</p>
            <p><i class="fa fa-tachometer mr-1"></i>Ciśnienie: {{weatherData.main.pressure}} hPa</p>
            <p><i class="fa fa-droplet mr-1"></i>Wilgotność: {{weatherData.main.humidity}}%</p>
            <p><i class="fa fa-sun mr-1"></i>Wschód: {{weatherData.sys.sunrise * 1000 | date:'HH:mm'}}</p>
            <p><i class="fa fa-moon mr-1"></i>Zachód: {{weatherData.sys.sunset * 1000 | date:'HH:mm'}}</p>
        </div>
    </div>
</div>