#currentIcon {
    width: 150px;
}

@media screen and (max-width: 1000px) {

    #currentIcon {
        width: 100px;
    }

    #details {
        margin-left: 0px !important;
    }

    #iconAndTemp {
        margin-left: 10% !important;
    }

    button {
        font-size: 9px;
    }
}

#details {
    margin-left: 25%;
}

#gif {
    width: 100%;
}